@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.img-fluid-50 {
    width: auto;
    height: 100px;
}

.align-center {
    text-align: center;
}

.ticket {
    background-color: white;
    text-align: center;
    width: 40px;
    height: 25px;
    line-height: 25px;
    border-radius: 45%;
    border: 1px solid #3D9BE9;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
}

.ticket.filled {
    background-color: black;
}

.ticket a {
    color: black;
    font-style: normal;
}

@media (max-width: 550px){
    .flipdown {
        height: 70px;
    }
}

.btn-success {
    background-color: #60a943 !important;
    border-color: #222221 !important;
}

.btn-outline-success {
    border-color: #60a943 !important;
    color: #60a943 !important;
    background-color: #FFF !important;
}

.btn-outline-success:hover {
    border-color: #60a943 !important;
    color: #FFF !important;
    background-color: #60a943 !important;
}

.bg-soft-primary {
    background-color: #f1fdf4!important;
}

.bg-dot.primary {
    background-image: radial-gradient(#83c092 2px,transparent 2.5px);
}

.icon-list.bullet-primary i {
    color: #60a943 !important;
}
